<ion-view title="Borang Daftar" id="page6" style="background-color:#20628B;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <ion-item class="item-divider">Masukkan No Kad Pengenalan</ion-item>
                <label class="item item-input" name="noic">
                    <span class="input-label">No. Ic</span>
                    <input type="text" placeholder="891207034567">
                </label>
            </ion-list>
            <ion-item class="item-divider">Masukkan Nama</ion-item>
            <label class="item item-input" name="nama">
                <span class="input-label">Nama</span>
                <input type="text" placeholder="Ali Bin Abu">
            </label>
            <ion-item class="item-divider">Masukkan No Telefon</ion-item>
            <label class="item item-input" name="notel">
                <span class="input-label">No. Tel</span>
                <input type="text" placeholder="0145127988">
            </label>
            <button id="borangDaftar-button5" style="font-weight:lighter;border-radius:7px 7px 7px 7px;" class="button button-balanced  button-block icon-right ion-android-people">Log Masuk</button>
        </form>
        <form class="list"></form>
        <ion-list></ion-list>
        <div class="button-bar"></div>
        <div>
            <p>
            </p>
            <center>
                <a href="#">Log Masuk</a>ke profile.</center>
            <p></p>
        </div>
    </ion-content>
</ion-view>