<ion-view title="Membership" id="page5" style="background-color:#20628B;">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/nf2kOCrfRy2ZdXO1RELJ_key.png" width="100%" height="80%">
        </div>
        <form class="list">
            <ion-list>
                <ion-item class="item-divider">Masukkan No Kad Pengenalan(IC)</ion-item>
                <label class="item item-input" name="noic">
                    <span class="input-label">No. Ic</span>
                    <input type="text" placeholder="cth : 891207034567">
                </label>
            </ion-list>
        </form>
        <button id="membership-button1" style="font-weight:lighter;border-radius:1px 1px 1px 1px;" class="button button-balanced  button-block icon-right ion-android-people">Log Masuk</button>
        <div>
            <p>
            </p>
            <center>
                <a href="/register">Daftar Baru</a>
            </center>
            <p></p>
        </div>
        <form class="list"></form>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>